.body{
  background-color: #ffffff;
}
.form {
  height: 18em;
  width: 16em;
  padding: 4%;
  border-radius: 16px;
  background: #e8e8e8;
  box-shadow: 12px 12px 18px #bababa,
              -12px -12px 18px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

#login-lable {
  height: 20%;
  text-align: center;
  font-size: 34px;
  letter-spacing: 0px;
  font-weight: 600;
  text-shadow: -2px -2px 3px #ffffff ,
              2px 2px 3px #bababa;
  position: relative;
  top: -14px;
}

.input {
  height: 16%;
  padding: 1px 8px;
  border: none;
  font-size: 1em;
  letter-spacing: 2px;
  border-radius: 8px;
  background: #f3f3f3;
  box-shadow: inset -2px -2px 4px #ffffff,
              inset 2px 2px 4px rgba(0, 0, 0, 0.356);
  text-decoration: none;
  background: linear-gradient(to right,white, #80808010, white);
  background-size: 200% 200%;
  animation: input 4s infinite;
}

.input:focus-visible {
  outline: none;
  background: rgb(241, 241, 241);
}

#btn {
  font-size: x-large;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  height: 30%;
  background: linear-gradient(144deg,#af40ff,
              #5b42f3 50%,#00ddeb);
  border-radius: 8px;
  border: none;
  box-shadow: inset 1px 3px 3px #ffffffbd,
               inset -4px -4px 3px #00000046;
  background-size: 150% 150%;
  animation: input 5s infinite;
  transition: all 900ms ease-in;
}

#btn:hover {
  position: relative;
  bottom: 3px;
  background: linear-gradient(144deg,#9706ff,
              #2f0fff 50%,#18f0ff);
}

@keyframes input {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* From Uiverse.io by barisdogansutcu */ 
button {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
}

button:active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}
/* From Uiverse.io by TCdesign-dev */ 
.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #1875FF;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #1875FF;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .button span:after {
  content: 'for free';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
 }
 
 .button:hover span {
  padding-right: 3.55em;
 }
 
 .button:hover span:after {
  opacity: 4;
  right: 0;
 }